body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-position: center;
  background-blend-mode: multiply;
}

.thisbody {
  font-family: Arial, sans-serif;
  background-image: url('../assets/doctors/Consultancy.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-position: center;
  background-blend-mode: multiply;
}

.consultancy {
  width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
