/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../assets/doctors/LoginPage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-position: center;
  background-blend-mode: multiply;
}

/* Container Styles */

.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* Login Box Styles */

.Login-box {
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input Field Styles */

.input-field {
  margin-bottom: 20px;
}

.input-field input[type="text"],
.input-field input[type="email"],
.input-field input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.input-field label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

/* Button Styles */

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
  transition: background-color 0.3s ease;
}

/* Paragraph Styles */

p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

/* Anchor Styles */

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}